<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/cadastro-log']">
            <i class="pi pi-home" data-toggle="tooltip" data-placement="top" title="Inicio" iconConfig></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            <i class="pi pi-user" data-toggle="tooltip" data-placement="top" title="Usuário"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            <i class="pi pi-key" data-toggle="tooltip" data-placement="top" title="Acesso" 
             style="transform: rotate(225deg);"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            <i class="pi pi-sign-out" data-toggle="tooltip" data-placement="top" title="Sair"></i>
        </a>
    </li>
</ul>
<ul class="nav justify-content-begin alignMenu">
    <app-menu></app-menu>
    <div class="row configAcessos1">
        <h4>LOG</h4>
        <span class="configAcessos2">Gestão de Log</span>
    </div>
</ul>
<ul class="nav justify-content-end navRodape"></ul>